# Database
DATABASE_URL="postgresql://username:password@localhost:5432/notifyit"

# Redis
REDIS_HOST="localhost"
REDIS_PORT="6379"

# Azure AD
AZURE_CLIENT_ID="your-client-id"
AZURE_CLIENT_SECRET="your-client-secret"
AZURE_TENANT_ID="your-tenant-id"

# App
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Push Notifications
NEXT_PUBLIC_VAPID_PUBLIC_KEY="BMyzdlOHwQj3OTmcbPRvigr2AbPEHGhBdsPxcad6OKyleO-9vxN1bhiqdFBu4_zKdqy_T1t93In6x-Kq6jMVKu8"
VAPID_PRIVATE_KEY="gNnRBrdQdohs3xqQFjfiQT2LOMMixirJvjXmdhFOlWM"
VAPID_EMAIL="mailto:your-email@company.com"